body {
  font-family: sans-serif;
  background-color: orange;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: blue;
}

.red-circle {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: red;
}
